@import 'variable.scss';

.typography {
  &__variant {
    &__h1 {
      font-size: 6rem;
      font-weight: 500;
      margin: 0px;
    }
    &__h2 {
      font-size: 3.75rem;
      font-weight: 500;
      margin: 0px;
    }
    &__h3 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0px;
    }
    &__h4 {
      font-size: 2.125rem;
      font-weight: 500;
      margin: 0px;
    }
    &__h5 {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0px;
    }
    &__h6 {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0px;
    }
    &__subheading1 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0px;
    }
    &__subheading2 {
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0px;
    }
    &__body1 {
      font-size: 1rem;
      margin: 0px;
    }
    &__body2 {
      font-size: 0.875rem;
      margin: 0px;
    }
  }
  &__color {
    &__primary {
      color: $text-primary;
    }

    &__error {
      color: $color-danger;
    }
  }
}
