.btnContainer__stepper {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .btnContiner__elements {
    width: 100px;
  }
}
