@import "../variable.scss";

.Cart {
  min-height: 600px;
  min-width: 80vw;
  max-width: 90vw;
  margin: auto;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  background-color: $color-white-blur;
  backdrop-filter: saturate(200%) blur(30px);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .cart__product__list {
    width: 58%;
    // border: 2px solid red;
    max-height: 571px;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cart__product__price {
    width: 40%;
    // border: 2px solid red;
    border-radius: 8px;
  }

  .fallback__cart__component {
    // border: 2px solid red;
    width: 100%;
    display: grid;
    place-items: center;
    color: $color-primary;
    letter-spacing: 2px;
    h1 {
      font-size: 2rem;
    }
  }
}

.procced__container {
  // border: 2px solid red;
  height: 200px;
  width: 300px;
  margin: auto;
  display: grid;
  place-items: center;
}

.cartContainer__title {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  border: 2px solid rgba(255, 0, 0, 0);
  font-size: 3rem;
  color: $text-secondary;
  display: flex;
}
