@import '../variable.scss';

.ProductCrousel__container {
  min-height: 250px;
  max-height: auto;
  width: 100%;
  margin: auto;
  // position: absolute;
  // bottom: -35%;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient($color-white-blur, rgb(255, 255, 255));
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow-primary;

  .Product__card__container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    // border: 2px solid red;
    padding: 5px;
    min-height: 500px;
    max-height: auto;
    position: relative;

    .Product__card__crousel {
      position: absolute;
      // border: 2px solid red;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 105%;
      left: -2.5%;
    }
  }
}
