@import '../variable.scss';

.product__overview__container {
  // border: 2px solid red;
  min-height: 600px;
  margin-top: 70px;
  padding: 30px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;

  .product__overview__child_1 {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // border: 2px solid red;
    .overView__image {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: $color-white;
      // border: 2px solid red;
      height: 350px;
      width: 350px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.6);
      }
    }
  }
  .product__overview__child_2 {
    flex: 1;
    padding: 50px;
    // border: 2px solid red;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: $color-white;
    border-radius: 8px;

    & > * {
      color: $text-secondary;
    }

    .price__and__rating__container {
      margin-top: 20px;

      .product__brand {
        font-size: 1.3rem;
        span {
          font-weight: 600;
          color: $color-primary;
        }
      }
    }

    .BuyNow__add__to__cart {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .buy__now {
        width: 45%;
      }
      .add__to__cart {
        width: 45%;
      }
    }
  }
}
