@import '../variable.scss';

.navbar__container {
  width: 100%;
  min-height: 50px;
  max-height: auto;
  // border: 2px solid red;
  background-color: transparent;
  display: flex;
  justify-content: center;

  & .navbar {
    margin-top: 20px;
    border-radius: 50px;
    overflow-x: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: $color-white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    & .logo__container {
      // border: 2px solid red;
    }
    & .searchbar__container {
      width: 480px;
    }

    & .other__navItems {
      cursor: pointer;
      font-size: 1.6rem;
      color: $color-grey;
      margin-right: 20px;
      width: 65px;
      display: flex;
      justify-content: space-around;
      transition: all 0.2s ease-in-out;
      position: relative;

      &:hover {
        color: $color-primary;
      }
    }
  }

  & .profile__dropdown {
    position: absolute;
    outline: none;
    top: 60px;
    right: 5%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    background: $color-white;
    backdrop-filter: blur(10px);
    max-height: auto;
    min-width: 180px;
    max-width: auto;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    padding-left: 0px;

    & .profileDropdown__listItem {
      border-bottom: 1px solid $text-secondary-active;
      list-style: none;
      width: 100%;
      padding: 15px 10px;
      cursor: pointer;

      &:hover{
        background-color: $color-primary;
        color: $color-white
      }
    }
  }
}
