@import '../variable.scss';

.navbar__container {
  width: 100%;
  min-height: 50px;
  max-height: auto;
  // border: 2px solid red;
  background-color: transparent;
  display: flex;
  justify-content: center;
  & .navbar {
    margin-top: 20px;
    border-radius: 50px;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: $color-white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .logo__container {
      padding: 10px;
      // border: 2px solid red;
    }
    & .searchbar__container {
    }
  }
}
