@import 'variable.scss';

@mixin primary($color) {
  background: $color;
  color: $text-primary;
  border: 1px solid $color;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &:hover {
    background: transparent;
    color: $color;
    border: 1px solid $color;
    opacity: 0.9;
  }
  &:active {
    opacity: 0.8;
  }
}

@mixin secondary($color) {
  background: transparent;
  color: $color;
  border: 1px solid $color;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  &:hover {
    opacity: 0.9;
    background: transparent;
  }
  &:active {
    opacity: 0.8;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-primary {
    border: 1px solid $color-primary;
    border-radius: 3px;

    &-active {
      @include primary($color: $color-primary);
    }

    &-inactive {
      @include primary($color: $color-disable);
    }

    &-success {
      @include primary($color: $color-success);
    }

    &-danger {
      @include primary($color: $color-danger);
    }
  }

  &-secondary {
    background: $color-white;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &-active {
      @include secondary($color: $color-primary);
    }

    &-inactive {
      @include secondary($color: $color-disable);
    }

    &-success {
      @include secondary($color: $color-success);
    }

    &-danger {
      @include secondary($color: $color-danger);
    }
  }

  &-small {
    min-width: 100%;
    height: 30px;
    font-size: 1.5rem;
    padding: 20px 10px;
  }

  &-medium {
    min-width: 100%;
    height: 50px;
    font-size: 1.8rem;
    padding: 25px 15px;
  }

  &-large {
    min-width: 100%;

    height: 50px;
    font-size: 2.2rem;
    padding: 30px 20px;
  }

  &-textColor-primary {
    color: $text-primary;
  }

  &-textColor-secondary {
    color: $text-secondary;
  }
}
