@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Varela+Round&display=swap');

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
    border-radius: 100px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family:  'Outfit', sans-serif, "Work Sans", sans-serif, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    transition: all 0.2s ease-in-out;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(182, 182, 182);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(182, 182, 182);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(182, 182, 182);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
