@import "variable.scss";

.homePage {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-secondary;
  margin-top: 40vh;

  & .buttonContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    & .singleBtnContainer {
      width: 48%;
    }
  }
}

.homePage__image__container {
  height: 850px;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  position: relative;
  .homepage__image {
    height: 850px;
    width: 100%;
    overflow: hidden;
  }
  .bottom__container {
    min-height: 250px;
    max-height: auto;
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: -35%;
    border-radius: 10px;
  }
}
.mid__container {
  margin: auto;
  margin-top: 380px;
  width: 90%;
  // border-radius: 20px;
  height: auto;
  // border: 2px solid #ff0000;
  // overflow: hidden;
  display: flex;
  color: $text-secondary;

  // box-shadow: $box-shadow-secondary;
  .banner_1 {
    max-width: 900px;
    height: 100%;
    cursor: pointer;
    flex: 1.4;
    border-radius: 6px 0px 0px 6px;
    image-rendering: optimizeSpeed;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    transition: all 0.3s ease-in-out;
    // box-shadow: $box-shadow-secondary;
  }
  .banner__right_container {
    text-align: center;
    background-color: $color-white;
    flex: 0.6;
    // border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .banner__right__content {
      // border: 2px solid red;
      width: 390px;
      margin: auto;
      p {
        font-size: 17px;
        padding: 30px;
        margin: 0px;
        font-weight: 600;
        color: $text-secondary;
      }
    }
  }
}

