@import 'variable.scss';

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  color: inherit;
  position: relative;
  .input_front_icon {
    position: absolute;
    top: 52%;
    left: 12px;
    cursor: pointer;
  }
  &__input {
    outline: none;
    width: 100%;
    border-radius: 3px;
    color: inherit;
    border: 1px solid $text-secondary-active;
    // padding-left: 34px;
    transition: border 0.2s ease-in-out;
    &:focus {
      border: 1px solid $color-primary;
    }
    &__small {
      padding: 7px;
      font-size: 0.9rem;
    }
    &__medium {
      font-size: 1.3rem;
      padding: 9px;
    }
    &__large {
      font-size: 2rem;
      padding: 7px;
    }
    &__error{
      border: 2px solid $color-danger;
    }
  }
}

.errorMessage{
  color: $color-danger;
}
