@import 'variable.scss';

.modal_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__child{

    &__small {
      min-height: auto;
      min-width: auto;
    }

    &__medium {
      min-height: auto;
      min-width: auto;
    }

    &__large {
      min-height: auto;
      min-width: auto;
    }
  }
}
