$color-primary: rgb(0, 174, 255);
$color-primary-active: rgb(0, 156, 228);
$color-danger: rgb(255, 78, 78);
$color-success: rgb(107, 226, 156);
$color-disable: rgb(187, 187, 187);
$color-black: rgb(14, 14, 14);
$color-white: #fff;
$text-primary: rgb(255, 255, 255);
$text-secondary: rgb(75, 75, 75);
$text-secondary-active: rgb(224, 224, 224);
$color-grey: rgb(173, 173, 173);
$background-primary: rgb(241, 241, 241);
$color-white-blur: rgba(255, 255, 255, 0.671);
$color-white-blur-2: rgba(255, 255, 255, 0.568);
$color-text-primary: rgb(43, 52, 69);
$box-shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-secondary: rgba(0, 0, 0, 0.35) 0px 5px 15px;
